.Rproj.user
.Rhistory
.RData
.Ruserdata
zoom/
old_materials/
old_materials/**
slides/images
slides/images/figures.pptx
slides/images/figures2.pptx
**.pptx
**/**.pptx
**/**.zip
homework/homework1/submissions/
homework/homework2/submissions/
**/submissions
